<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= t('property.edit.title') %></h1>
  <a
    href="<%= admin_properties_path %>"
    class="d-none d-sm-inline-block btn btn-primary shadow-sm"
  >
    <i class="fas fa-arrow-circle-left fa-sm text-white-50"></i>
    <%= t('actions.back') %>
  </a>
</div>

<%= render 'form', property: @property %>
